@charset "utf-8";

@font-face
{
	font-family: Tungsten-Bold;
	src: url(fonts/Tungsten-Bold.otf);
}

@font-face
{
	font-family: Tungsten-Black;
	src: url(fonts/Tungsten-Black.otf);
}

@font-face
{
	font-family: Tungsten-Semibold;
	src: url(fonts/Tungsten-Semibold.otf);
}

@font-face
{
	font-family: Tungsten-Medium;
	src: url(fonts/Tungsten-Medium.otf);
}

body {
	background-color:#000000;
	color:#ffffff;
	font-family:Tungsten-Semibold, Verdana, Geneva, sans-serif;

}

img {
	border:none;
}

#container {
	width:95%;
	margin: 30px auto;
	text-align:center;
	/*position:relative;*/
}

#top {}

#top1 {
	float: left;
	font-weight: bold;
	font-size: 26px;
	color: #fff;
	letter-spacing: 3px;
	width: 350px;
	line-height: 26px;
}

#top2 {
	float: left;
	font-size: 22px;
	color: #fff;
	letter-spacing: 3px;
	width: 500px;
	font-weight: 500;
	line-height: 26px;
	margin-right: 100px;
}

#top3 {
	float: left;
	color: #fff;
	font-size: 22px;
	width: 300px;
	letter-spacing: 3px;
	font-weight: 500;
	margin-left: 100px;
}

#top4 {
	width: 110px;
	height: 75px;
	-webkit-border-radius: 54px;
	-moz-border-radius: 35px;
	background-color: #ffffff;
	color: #000000;
	float: left;
	font-size: 35px;
	text-transform: uppercase;
	padding-top: 30px;
	right: -250px;
	position: relative;
	letter-spacing: 4px;
	font-weight: 600;
}

#top1, #top2, #top3{
	text-align:left;
	text-transform:uppercase;
}

#top3, #top4{
	display:none;
}

#sidebar {
}

#content {
	position: relative;
	height:75%;
	width:100%;
}

#bottom {
	bottom:0;
	text-align:left;
	margin-top:20px;
	position:absolute;
	display: none;
	z-index:10;
}

.clear {
	clear:both;
	height:1px;
}

#gsapp_logo,
#cu_logo{
	position:fixed;	
	right:50px;
}

#gsapp_logo{
	top:30px;
}

#cu_logo{
	top:130px;
	margin-right:-7px;
}

.video{
	-moz-box-shadow: 0 0 2px 3px black;
  	-webkit-box-shadow: 0 0 2px 3px black;
	box-shadow: 0 0 2px 3px black;
}

#video1{
	left:5%;
	z-index:5;
	position:absolute;
	top: 7%;
}

#video2{
	z-index:4;
	position:absolute;
	right:15%;
	top: 3%;
}

#video1, #video2, #video5{
	width:450px;
	height:253px;
}

#video3{
	z-index:3;
	float:left;
	left:20%;
	position:absolute;
	bottom:5%;
}

#video4{
	right:3%;
	z-index:2;
	position:absolute;
	bottom:2%;
}

#video3, #video4{
	width:420px;
	height:315px;
}

#video5{
	left:45%;
	z-index:1;
	position:absolute;
	top: 45%;
}

a, a:link, a:visited{
	text-decoration:none;
	color:#fff;
}

a:hover{
	text-decoration:underline;
}

.col1, .col2 {
	width: 120px;
}

.col1{
	float: left;
}

.col2 {
	float: right;
}
